tr{

    width:900px;

}
body{
    background-image: url(../assets/images/marvel.jpg);

}
body #title{
    padding-left:175px;
}
body table{
    border: 6;

}
h2{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h3{
    text-align: center;
}
#start:after
{
    content:' ';
    display:block;
    border:2px solid white;
}